.add-spendings {
    padding: 20px;
    background-color: #151a32;
    color: white;
    border-radius: 5px;
    width: 50%;
    align-items: center;
  
    .addSpendings {
      display: flex;      
      flex-direction: column;
    
      label{margin-bottom: 5px;}

      input{margin-bottom: 20px;}

    }

  }
  