@import '../../../stylings/_variables.scss';

.spending-overview-container {
  position: relative;
    background-color: $secondary-color;
    color: $white;
    border-radius: 20px;
  }
  
  h1 {
    margin: 0;
    margin-left: 30px;
    color: $white;
    font-size: 25px;
  }
  
  p,
  h3 {
    color: $white;
    margin: 0;
  }
  
  h3 {
    margin-bottom: 10px;
  }

  .spendingsheader{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 30px;
  }
  
  .spendings {
    list-style-type: none;
    padding: 0; /* optional: removes default padding */
    margin: 0; /* optional: removes default margin */
    border-radius: 20px;
    max-width: 300px;
    height: 270px;
    padding-top: 7px;
    margin-left: 20px;
  }
  
  .spending-subjects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-top: 10px;
  }
  
  .housing,
  .personal,
  .transportation {
    display: flex; /* Use flexbox for the container */
    align-items: center; /* Align items vertically in the center (optional) */
  }
  
  .house-icon,
  .personal-icon,
  .transportation-icon {
    margin-right: 10px; /* Adjust margin as needed */
  }

  .AddSpendings{
    background-color: transparent;
    border: none;
  }

  dialog {
    position: absolute;
    z-index: 1;
    left: -50%;
    top: 50%;
    padding: 20px;
    background-color: #151a32;
    color: white;
    border-radius: 5px;
    width: 80%;
    align-items: center;
  
    .addSpendings {
      display: flex;      
      flex-direction: column;
    
      label{margin-bottom: 5px;}

      input{margin-bottom: 20px;}

      button{margin-top: 40px;}

    }

    [type="date"] {
      background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
    }
    [type="date"]::-webkit-inner-spin-button {
      display: none;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    
    .dateofbirth {
      border: 1px solid #c4c4c4;
      border-radius: 5px;
      background-color: #fff;
      padding: 3px 5px;
      box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
      width: 190px;
    }
    
  }
  