<section class="spending-overview-container">
  <div class="spendings">
    <div class="spendingsheader">
      <h3>Spendings</h3>
      <a href="">
        <img
          src="../../../assets/img/add-button.svg"
          alt="add button"
          height="30px"
        />
      </a>
    </div>
    <li class="spending-subjects">
      <div class="housing">
        <div class="house-icon">
          <img
            src="../../assets/img/house-image.svg"
            alt="Icon of a house"
            height="30px"
            class="houseIcon"
          />
        </div>
        <div class="house-text">
          <p>Housing</p>
          <p>${{ houseSpending }}</p>
        </div>
      </div>
      <div class="personal">
        <div class="personal-icon">
          <img src="../../assets/img/personal-image.svg" alt="" height="30px" />
        </div>
        <div class="personal-text">
          <p>Personal</p>
          <p>${{ personalSpending }}</p>
        </div>
      </div>
      <div class="transportation">
        <div class="transportation-icon">
          <img
            src="../../assets/img/transport-image.svg"
            alt=""
            height="30px"
          />
        </div>
        <div class="transportation-text">
          <p>Transportation</p>
          <p>${{ transportSpending }}</p>
        </div>
      </div>
    </li>
  </div>
</section>
