<main class="main">
  <div class="navigation"></div>
  <div class="balance"></div>
  <div class="date"><app-calender></app-calender></div>
  <div class="account"></div>
  <div class="total-net-worth"></div>
  <div class="spendings"><app-spendings></app-spendings></div>
  <div class="income"><app-incomes></app-incomes></div>
  <div class="income-source">
    <app-income-source></app-income-source>
  </div>
  <div class="spending">
    <app-spending-overview></app-spending-overview>
  </div>
  <div class="income-goal"></div>
  <div class="notifications-expenses-animals"></div>
  <div class="income-expenses-graph">
    <!-- <app-income-vs-outcome></app-income-vs-outcome> -->
  </div>
  <div class="income-vs-expenses">
    <app-income-vs-outcome></app-income-vs-outcome>
  </div>
  <div class="last-expenses"><app-latest-spendings></app-latest-spendings></div>
</main>
<!-- <router-outlet></router-outlet> -->
