<section class="navigation-container">
  <picture class="navigationImage">
    <img
      src="../../../assets/img/Capgemini-img.png"
      alt="Logo of Capgemini"
      height="50px"
      class="logo"
    />
  </picture>
  <ul class="months">
    <li class="jan"><a href="#January">Jan</a></li>
    <li class="feb"><a href="#February">Feb</a></li>
    <li class="mar"><a href="#March">Mar</a></li>
    <li class="apr"><a href="#April">Apr</a></li>
    <li class="may"><a href="#May">May</a></li>
    <li class="jun"><a href="#June">Jun</a></li>
    <li class="jul"><a href="#July">Jul</a></li>
    <li class="aug"><a href="#August">Aug</a></li>
    <li class="sep"><a href="#September">Sep</a></li>
    <li class="oct"><a href="#October">Oct</a></li>
    <li class="nov"><a href="#November">Nov</a></li>
    <li class="dec"><a href="#December">Dec</a></li>
  </ul>
</section>
