.incomes-container {
    background-color: #151a32;
    color: white;
    border-radius: 20px;
  }
  
  .incomesInput {
    padding-left: 15px;
    padding-top: 7px;
  }
  
  .totalCost {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  
  .incomes {
    margin: 0;
    padding: 0;
  }
  
  .chartLineIncome {
    margin: 0;
    stroke-width: 3px;
    mask-image: linear-gradient(to left, transparent, #000, #000, transparent);
  }
  